<section class='container'>
  <% @recipes.each do |recipe| %>
    <a href="<%= recipe_path(recipe.id)%>" class='card'>
      <div class='subdiv'>
        <h2><%= recipe.name %></h2>
        <%= button_to 'delete'%>
      </div>
      <div class='subdiv'>
        <p><%= recipe.description %></p>
      </div>
    </a>
  <% end %>
  <%= button_to 'Add New Recipe'%>
</section>