   <body>
   <%= render 'shared/nav_menu' %>
    <div class='container'>
      <h2>New Recipe:</h2>
      <%= form_with model: @recipe, url: recipe_create_path, method: :post do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :description %>
        <%= f.text_area :description %>
        <%= f.label "Preparation Time(hours):" %>
        <%= f.number_field :preparation_time %>
        <%= f.label "Cooking Time(hours):" %>
        <%= f.number_field :cooking_time %>
        <%= f.label :public %>
        <%= f.check_box :public %>
        <%= f.submit "Create Recipe" %>
      <% end %>
    </div>
  </body>