<section class='container'>
  <h1><%= @recipe.name %></h1>
  <div class='subcontainer'>
    <div class='column-left'>
      <p class='biginfo'>Preparation Time: <%= @recipe.preparation_time %> hs.</p>
      <p class='biginfo'>Cooking Time: <%= @recipe.cooking_time %> hs.</p>
      <p> <%= @recipe.description %> </p>
      <%= link_to 'Generate Shopping List', shopping_list_path(@recipe.id), class: :linkbutton %>
    </div>
    <% if can? :manage, @recipe%>
    <div class='column-right'>
      <div class='togglediv'>
        <p class='togglelabel'>Public</p>
        <%= link_to recipe_toggle_path(@recipe.id), data: { "turbo-method": :post } do %>
          <label class="switch" checked='<%= @recipe.public %>'>
            <input type="checkbox" checked='<%= @recipe.public %>'>
            <span class="slider round" checked='<%= @recipe.public %>'></span>
          </label>
        <% end %>
      </div>
      <%= link_to 'Add Ingredient', ingredient_new_path(@recipe.id), class: :linkbutton %>
      <% end %>
    </div>
  </div>
  <span></span>
  <%= render 'ingredients_table' %>
</section>