<div id="<%= dom_id food %>">
  <tr> 
    <td>      
      <%= food.name %>
    </td>
  
    <td>     
      <%= food.measurement_unit %>
    </td>
  
    <td>     
      <%= food.price %>
    </td>
  
    <td>      
      <%= food.quantity %>
    </td>  
  
    <td>
    <%= button_to "Destroy", food, method: :delete %>
    </td>
  </tr>
</div>