<h1> Shopping list</h1>
<div class='shopping_counters'>
<h3> Amount of food items to buy: <%= @items_to_buy %> </h3>
<h3> Total value: $ <%= @total %> </h3>
</div>
<table>
  <tr>
    <th>Food</th>
    <th>Quantity</th>
    <th>Value</th>     
  </tr>
  <% @recipefoods.each do |recipefood|  %>
    <% if recipefood.quantity - recipefood.food.quantity > 0 %>
    <tr>
      <td><%= recipefood.food.name %></td>
      <td><%= recipefood.quantity - recipefood.food.quantity%> <%= recipefood.food.measurement_unit %></td>
      <td>$ <%= (recipefood.quantity - recipefood.food.quantity) * recipefood.food.price %></td>       
    </tr>     
  <% end %>   
  <% end %>   
</table>
